services:
  dev:
    build:
      context: .
      dockerfile: dockerfile.dev
    ports:
    - 5173:5173
    volumes:
     - ./:/usr/src/app
     - node_modules:/usr/src/app/node_modules
    container_name: termo-dev-env

volumes:
  node_modules:


