@font-face {
    font-family: "Monteserrat";
    src: url("../assets/Montserrat/");
}

@import "tailwindcss";

@theme{
    --font-monteserrat: "Monteserrat", sans-serif;
}


:root {
    --square-size: 65.82px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #282828;
    align-items: center;
}

/* header-section */

.header {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 21px;
    color: white;
}

.header>div>span {
    color: #5EC8AE;
}

/* logo-section */

.logo-container {
    display: flex;
    gap: 60px;

}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* game-screen-section */

.game-screen-container {
    margin-top: 59px;

    display: grid;
    grid-template-rows: var(--square-size) var(--square-size) var(--square-size) var(--square-size) var(--square-size) var(--square-size);
    grid-template-columns: var(--square-size) var(--square-size) var(--square-size) var(--square-size) var(--square-size);
    gap: 17.28px 23.04px;
}

.letter-square {
    background: #1D3D35;
    
    /* Square-parameters */

    line-height: var(--square-size);
    height: var(--square-size);
    text-align: center;
    width: var(--square-size);
    border-radius: 2px;
    
    /* Font-parameters */
    
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    font-family: var(--font-monteserrat);
    text-transform: uppercase;
    /*Font-centering*/

    text-align: center;

    cursor: pointer;

}

.letter-square.empty {
    background: #4da38e;
    border: 0.125em solid #5EC8AE;
    }

.letter-square:focus {
    border-bottom: 0.25em solid #5EC8AE;
}